@import '../../index.scss';
@import '../../sass/abstracts/mixins';
@import '../../sass/abstracts/colors';

.main-container{
    padding-left: 25%;
    padding-top: 12%;
    width: 70%;
    .form-container{
        @include center;
        border-radius: 35px;
        background-color: $primary-bg-color;
        margin-bottom: 2rem;
        box-shadow: 0px 0px 20px 0px $secondary-color;
        .subTitle{
            margin-top: 2%;
            color: $secondary-color;
        }
        .dataArea{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        div{
            .form__form-group__input{
                background-color: $input-color;
                padding-top: 0rem;
                margin-top: 2%;      
            }
        }
        .submit-Button{
            background-color: $secondary-color;
            height: 1.7rem;
            margin-bottom: 1rem;
            padding-top: 0rem;
            margin-top: 8%;
        }
    } 
}
