@import '../../sass/abstracts/colors';

.items-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 8rem;
    margin-left: 6rem;
    margin-right: 6rem;
        .item{
            width: 300px;
            margin: 10px;
            margin-left: 3rem;
            margin-top: 3rem;
            .titulo{
                color: $secondary-color;
                margin: 1rem;
            }
            .sinapsis{
                color: $primary-color;
            }
            img{
                width: 100%;
                height: 300px;
                border-radius: 16px;
            }
        }
}