body{
    background-color: $primary-bg-color;  
}

button{
    border: none;
    border-radius: 50px;
    background-color: greenyellow;//$input-color
    cursor: pointer;
    text-align: center;
    appearance: button;
    display: flex;
    align-items: center;
    justify-content: center;
    
}